.center {
    text-align: center;
}
.search {
    text-align: center;
    width: 80%;
}

.button {
    background: #4a4a4a;
    border-radius: 25px;
    margin-bottom: 10px;
}
.button:hover {
    background: #242424;
    border-radius: 35px;
}
.c-display__form {
    display: inline-block;
}