.center {
    text-align: center;
}

.search {
    text-align: center;
    width: 80%;
}

.c-image__style {
    width: 20px;
}

.c-display__form {
    display: inline-block;
}

.button {
    padding: 7px;
}